#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavMenu {
  max-width: max-content;
  position: sticky;
  top: 2rem;
}

.theme-switch {
  position: fixed;
  top: 2rem;
}

.contact-button {
  position: fixed;
  bottom: 2rem;
}